extends layout

block content
  h1= title
  p Welcome to #{title}
  // register form
  div.form-group
    h1 Total Time Taken #{timeElapsed} seconds
    h1 Browser Load Time #{browserLoadTime} seconds
    #errors
    if errors && errors.length
      h2 Errors completed with errors in pages
      ul
      each err in errors
        li
          span #{err}
    ul
    each val in data
        li
            span #{val.name}
            span #{val.startDate}
            span #{val.status}
            span #{val.pending}